html,body{
	padding:0px;
	position:relative;
	width:1024px;
	margin:0 auto;
	height:2000px;
}
#status-bar{
	height:20px;
	width:1014px;
	padding-left:10px;
	background-color: #333;
	color:#bbb;
	font-weight: bolder;
}
#cover,#content{
	position: absolute;
	width:1024px;
	height:748px;
	background: #333;
}

#cover{
	display:none;
	z-index:3;
	text-align: center;
	color:#ddd;
	height:748px;
}

#cover h1{
	display:block;
	width:100%;
	position: absolute;
	top:50%;
	font-size:72px;
	margin-top:-40px;
}

#cover h1.shadow{
	display:block;
	width:100%;
	position: absolute;
	top:50%;
	font-size:72px;
	margin-top:-30px;
	margin-left:15px;
	color:black;	
	z-index: -1;
}

#content{
	z-index:2;
	height:2000px;
}


.blog{
	height:500px;
	width:200px;
	background: #eee;
	padding:0 5px;
	overflow:hidden;
	border-right:1px dotted black;
	border-bottom:1px dotted black;
}

.blog.fullscreen{
	position:absolute;
	left:0px;
	top:0px;
	overflow-y:scroll;
	overflow-x:hidden;
}

.blog.fullscreen.read{
	opacity: 1;
}
.blog.read{
	opacity: 0.5;
}
